{% extends 'MainBundle:Layout:layout.html.twig' %}

{# Title
===================================================================================================== #}
{% block title %}
    {{ parent() }}
{% endblock %}
{# ====== Fin Title #}


{# Hojas de estilo
===================================================================================================== #}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{# ====== Fin stylesheets #}


{# JavaScript: parte del código javascript que está contenido en la cabecera '<head>...</head>'
===================================================================================================== #}
{% block jshead %}
    {{ parent() }}
{% endblock %}
{# ====== Fin jshead #}


{# Body
===================================================================================================== #}
{% block body %}
    <!-- Cabecera
    ================================================================================================= -->
        <!-- Barra de login
        ····························································································· -->
        <header id="user-bar">
            {% block header %}
                <div class="container">
                    <div id="user-form" class="nine columns">
                        {{ render(controller('UserBundle:Authentication:loginBox')) }}
                    </div>
                    <div id="shared-box" class="three offset-by-four columns"> 
                        <a href="#"><img src="{{ asset('images/share-facebook.png') }}"  /></a>
                        <a href="#"><img src="{{ asset('images/share-twitter.png') }}" /></a>
                        <a href="#"><img src="{{ asset('images/share-googleplus.png') }}" /></a>
                    </div>
                </div>
            {% endblock %}
        </header>
        <!-- ······ Fin barra de login -->
        
        <!-- Menu de navegación
        ····························································································· -->
        <nav id="menu">
            {% block nav %}
                {% include 'MainBundle:Layout:nav.html.twig' %}
            {% endblock %}
        </nav>
        <!-- ······ Fin menu de navegación -->
    <!-- ====== Fin cabecera -->
    
    <!-- Contenedor principal
    ================================================================================================= -->
    <div id="main" class="container">
        <div class="row">
            <!-- Section: alberga el contenido principal de la web
            ························································································· -->
            <section id="content" class="two-thirds column alpha shadow-block-main"> 
                {% block section %}{% endblock %}
            </section>
            <!-- ······ Fin section -->

            <!-- Aside: barra lateral
            ························································································· -->
            <aside id="aside" class="one-third column omega">
                {% block aside %}
                    <div class="aside-block sub-block shadow-block-main">
                        <form action="#" method="get" class="form">
                            <span aria-hidden="true" class="icon-search"></span>
                            <input class="head-textbox" type="text" name="query" />
                        </form>
                    </div>
                    <div class="aside-block sub-block shadow-block-main">
                        {{ render(controller('BlogBundle:Tag:tagCloud')) }}
                    </div>
                {% endblock %}
            </aside>
            <!-- ······ Fin aside -->
        </div>
    <!-- ====== Fin contenedor principal -->
    
    <!-- Pie de página
    ================================================================================================= -->
    <footer id="foot">
        {% block foot %}
            <div class="container">
                <div id="foot-left" class="section one-third column alpha">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Archivo</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Mapa de la web</a></li>
                        <li><a href="#">Aviso legal</a></li>
                    </ul>
                    
                </div>
                <div class="one-third column"></div>
                <div class="one-third column omenga"></div>
                    
                <!-- <div class="signing-left">Copyright &copy; 2012 <a href="#">www.wikidev.com</a></div>
                <div class="signing-right">By <a href="#">Enrique José Esteban Plaza.</a></div> -->
            </div>
        {% endblock %}
    </footer>
    <!-- ====== Fin pie de página -->
    
    <!-- JavaScripts (body)
    ================================================================================================= -->
    {% block jsbody %}{% endblock %}
    <!-- ====== Fin JavaScripts (body) -->
{% endblock %}
{# ====== Fin Body #}