<ul class="container">
    <li>
        <a href="{{ path('main_page') }}">
            <span class="icon"><i aria-hidden="true" class="icon-home"></i></span><span class="text">Home</span>
        </a>
    </li>
    <li>
        <a href="{{ path('blog_recent') }}">
            <span class="icon"><i aria-hidden="true" class="icon-clock"></i></span><span class="text">Recientes</span>
        </a>
    </li>
    
    {% if not is_granted('ROLE_USER') %}
    <li>
        <a href="{{ path('user_login') }}">
            <span class="icon"><i aria-hidden="true" class="icon-unlocked"></i></span><span class="text">Login</span>
        </a>
    </li>
    <li>
        <a href="{{ path('blog_signup') }}">
            <span class="icon"><i aria-hidden="true" class="icon-enter"></i></span><span class="text">Registrase</span>
        </a>
    </li>
    {% endif %}
    
    <li>
        <a href="#">
            <span class="icon"><i aria-hidden="true" class="icon-info"></i></span><span class="text">Acerca de</span>
        </a>
    </li>
    <li>
        <a href="{{ path('contact_form') }}">
            <span class="icon"><i aria-hidden="true" class="icon-envelope"></i></span><span class="text">Contacto</span>
        </a>
    </li>
</ul>
